# Laboratorio #8 - Missing Data and Feature Engineering

# 1.	Reporte detallado de missing data para todas las columnas.

Las columanas: Sex, Age, SibSp, Parch, Fare, Embarked. Cuentan con missing data

En este caso Sex, tiene valores de: male, female y ?. Por lo que se toma el ? como missing data.
En la columana de Age, hay con espacios vacios que son considerados como missing data.
    La columna maneja datos de tipo integer y doubles.
La columna de Fare son los precios de los tickets. Maneja datos de tipo doubles.
La columna Parch, presenta un tipo de missing data donde literalemente contiene NA, pero de tipo String y no de NaN que maneja python. 
    Cuenta con 0,1,2,4 como valores
Para Fare, hay missing data por espacios en blanco. 
    Fare cuenta con valores de tipo double
En la columna embarked, hay espacios vaciós, por lo tanto son contados como missing data. 
    Cuenta con S y C como los únicos valores.

# 2.	Para cada columna especificar qué tipo de modelo se utilizará (solo el nombre y el porqué) y qué valores se le darán a todos los missing values. (Ej. Imputación sectorizada por la moda, bins, y cualquier otro método visto anteriormente).

Sex: para esta colúmna se haría una imputación sectorizada, debido a que esta nos va a permitir acercarnos un poco más a los deatos reales. Los factores como edad, la fare, y el embarked posiblemente nos pueden decir si es hombre o mujer, pero eso se vería más haciendo una pairwise para saber cuales tienen más correlación con el sexo y utilizarlo en la imputación. 
Age: En este caso se haría una regresión lineal, para poder predecirlo de mejor manera. Los valores que irían para módelo con la edad, la clase y (SibSP o Parch) ya que relaciona la edad con la cantidad de familiares que van en el barco también, otra opción puede ser la edad y el Fare sólamente, o la edad y clase.
SibSp: Los sibSp podría utilizar una imputación de fill, es decir, que el valor anterior sea asignado al que está vacio, ya que en este caso, la data no cuenta con muchos missing values seguidos en la columna, por lo que no sesgaría la data. 
Parch: de igual manera, utilizaría fill, ya que no cuenta con muchos missing values seguidos de la columna y por lo tanto no sesgaría la data. 
Fare: En este caso utilizaría outliters donde pondría un rango entre el 10% y 95%, y haría un cap, así traería los valores hacia mi 10% o el 95% aquellos que se pasan o no llegan, ya que considero que por las clases, los precios prodrían estar en ese margen y que por lo tanto, permitirían un análisis un poco más certero. 
Embarked: Por sen tan pocos los missing values, utilizaría el método de fill, ya que la separación de esos missing values en la columna es lo suficiente para que no sesge la data.

# 3.	Reporte de qué filas están completas

Passanger ID: columna completa con el ID del pasagero, son de tipo integer. 
Survived: columan con valores de 0 y 1, que determinan si el pasagero murio (0) o sobrevivio (1).
Pclass: columna que muestra en que clase viajaba el pasajero, en este caso cuenta de 1 hasta 3 clase. 
Name: los nombres de los pasajeros si está registrado por completo. 
Ticket: los tickes muestran el boleto que compro la persona, por lo que me intriga aquellos datos que cuenta con valores que parecen ser varios tickets. 
Cabin: la cabina en la que el pasajero estuvo o en la que fue asignado probablemente durante el viaje.

# 4.	Utilizar los siguientes métodos para cada columna que contiene missing values

1. Limpieza de los Missing Values

In [74]:
import numpy as np
import pandas as pd

In [75]:
data = pd.read_csv('titanic_MD.csv')

Cambiar los vacios, los ? por NaN

In [76]:
 # Cambiar los ? por NaN
cols = []
val = []
for col in data.select_dtypes(include='object').columns:
    cols.append(col)
    val.append(data[col].str.contains(r'\?').sum())
pd.DataFrame({
    'cols':cols,
    'val':val
})

       cols  val
0      Name    0
1       Sex   51
2    Ticket    0
3     Cabin    0
4  Embarked    0

In [77]:
data.replace(r'\?', np.nan, regex = True, inplace = True)

In [78]:
data.isna().sum()

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex            51
Age            25
SibSp           3
Parch          12
Ticket          0
Fare            8
Cabin           0
Embarked       12
dtype: int64

In [79]:
# Aproximar la edad para dejarlo en enteros
data['Age'] = round(data['Age'])

In [80]:
# tener todo en dos decimales
data['Fare'] = round(data['Fare'], 2)

In [81]:
# Ver el % de missing values en las columnas. 
pct = pd.DataFrame(data.isna().sum()/data.shape[0], columns = ['pct']).reset_index()
pct

          index       pct
0   PassengerId  0.000000
1      Survived  0.000000
2        Pclass  0.000000
3          Name  0.000000
4           Sex  0.278689
5           Age  0.136612
6         SibSp  0.016393
7         Parch  0.065574
8        Ticket  0.000000
9          Fare  0.043716
10        Cabin  0.000000
11     Embarked  0.065574

In [ ]:
# Sólo el sex y la age sobrepasan el 10%, pero considero que no es necesario eliminarlas.

Imputaciones

In [82]:
from sklearn.impute import SimpleImputer

In [83]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_median = SimpleImputer(missing_values=np.nan, strategy='median')
imp_mode = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

Sex:

In [84]:
data_imputaciones = pd.DataFrame(imp_mode.fit_transform(data[['Sex']]), columns = ['Sex_mode'])

Age:

In [85]:
data_imputaciones['Age_mean'] = imp_mean.fit_transform(data[['Age']])
data_imputaciones['Age_mean'] = round(data_imputaciones['Age_mean'], 2)

In [86]:
data_imputaciones['Age_mode'] = imp_mode.fit_transform(data[['Age']])

In [87]:
data_imputaciones['Age_median'] = imp_median.fit_transform(data[['Age']])

SibSp

In [88]:
data_imputaciones['SibSp_mean'] = imp_mean.fit_transform(data[['SibSp']])
data_imputaciones['SibSp_mean'] = round(data_imputaciones['SibSp_mean'])

In [89]:
data_imputaciones['SibSp_mode'] = imp_mode.fit_transform(data[['SibSp']])
data_imputaciones['SibSp_mode'] = round(data_imputaciones['SibSp_mode'])

In [90]:
data_imputaciones['SibSp_median'] = imp_median.fit_transform(data[['SibSp']])
data_imputaciones['SibSp_median'] = round(data_imputaciones['SibSp_median'])

Parch

In [91]:
data_imputaciones['Parch_mean'] = imp_mean.fit_transform(data[['Parch']])
data_imputaciones['Parch_mean'] = round(data_imputaciones['Parch_mean'])

In [92]:
data_imputaciones['Parch_mode'] = imp_mode.fit_transform(data[['Parch']])
data_imputaciones['Parch_mode'] = round(data_imputaciones['Parch_mode'])

In [93]:
data_imputaciones['Parch_median'] = imp_median.fit_transform(data[['Parch']])
data_imputaciones['Parch_median'] = round(data_imputaciones['Parch_median'])

Fare

In [94]:
data_imputaciones['Fare_mean'] = imp_mean.fit_transform(data[['Fare']])
data_imputaciones['Fare_mean'] = round(data_imputaciones['Fare_mean'], 2)

In [95]:
data_imputaciones['Fare_mode'] = imp_mode.fit_transform(data[['Fare']])

In [96]:
data_imputaciones['Fare_median'] = imp_median.fit_transform(data[['Fare']])

Embarked

In [97]:
data_imputaciones['Embarked_mode'] = imp_mode.fit_transform(data[['Embarked']])

In [98]:
data_imputaciones

,Sex_mode,Age_mean,Age_mode,Age_median,SibSp_mean,SibSp_mode,SibSp_median,Parch_mean,Parch_mode,Parch_median,Fare_mean,Fare_mode,Fare_median,Embarked_mode
0,male,38.00,38.0,38.0,1.0,1.0,1.0,0.0,0.0,0.0,71.28,71.28,71.28,C
1,female,35.00,35.0,35.0,1.0,1.0,1.0,0.0,0.0,0.0,53.10,53.10,53.10,S
2,male,54.00,54.0,54.0,0.0,0.0,0.0,0.0,0.0,0.0,51.86,51.86,51.86,S
3,female,35.69,24.0,35.5,1.0,1.0,1.0,0.0,0.0,0.0,16.70,16.70,16.70,S
4,female,58.00,58.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0,26.55,26.55,26.55,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,female,47.00,47.0,47.0,1.0,1.0,1.0,1.0,1.0,1.0,78.96,26.55,56.93,S
179,male,35.69,24.0,35.5,0.0,0.0,0.0,0.0,0.0,0.0,5.00,5.00,5.00,S
180,female,56.00,56.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,83.16,83.16,83.16,S
181,male,19.00,19.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,30.00,30.00,30.00,S
182,male,35.69,24.0,35.5,0.0,0.0,0.0,0.0,0.0,0.0,30.00,30.00,30.00,C

Regresion lineal

In [99]:
from sklearn.linear_model import LinearRegression

Age

In [ ]:
data_sin_nan =

In [101]:
lm = LinearRegression()
lm = lm.fit(data[['Fare', 'SibSp', 'Parch']], data['Age'])
lm

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').