# Laboratorio #8 - Missing Data and Feature Engineering

# 1.	Reporte detallado de missing data para todas las columnas.

Las columanas: Sex, Age, SibSp, Parch, Fare, Embarked. Cuentan con missing data

En este caso Sex, tiene valores de: male, female y ?. Por lo que se toma el ? como missing data.
En la columana de Age, hay con espacios vacios que son considerados como missing data.
    La columna maneja datos de tipo integer y doubles.
La columna de Fare son los precios de los tickets. Maneja datos de tipo doubles.
La columna Parch, presenta un tipo de missing data donde literalemente contiene NA, pero de tipo String y no de NaN que maneja python. 
    Cuenta con 0,1,2,4 como valores
Para Fare, hay missing data por espacios en blanco. 
    Fare cuenta con valores de tipo double
En la columna embarked, hay espacios vaciós, por lo tanto son contados como missing data. 
    Cuenta con S y C como los únicos valores.

# 2.	Para cada columna especificar qué tipo de modelo se utilizará (solo el nombre y el porqué) y qué valores se le darán a todos los missing values. (Ej. Imputación sectorizada por la moda, bins, y cualquier otro método visto anteriormente).

Sex: para esta colúmna se haría una imputación sectorizada, debido a que esta nos va a permitir acercarnos un poco más a los deatos reales. Los factores como edad, la fare, y el embarked posiblemente nos pueden decir si es hombre o mujer, pero eso se vería más haciendo una pairwise para saber cuales tienen más correlación con el sexo y utilizarlo en la imputación. 
Age: En este caso se haría una regresión lineal, para poder predecirlo de mejor manera. Los valores que irían para módelo con la edad, la clase y (SibSP o Parch) ya que relaciona la edad con la cantidad de familiares que van en el barco también, otra opción puede ser la edad y el Fare sólamente, o la edad y clase.
SibSp: Los sibSp podría utilizar una imputación de fill, es decir, que el valor anterior sea asignado al que está vacio, ya que en este caso, la data no cuenta con muchos missing values seguidos en la columna, por lo que no sesgaría la data. 
Parch: de igual manera, utilizaría fill, ya que no cuenta con muchos missing values seguidos de la columna y por lo tanto no sesgaría la data. 
Fare: En este caso utilizaría outliters donde pondría un rango entre el 10% y 95%, y haría un cap, así traería los valores hacia mi 10% o el 95% aquellos que se pasan o no llegan, ya que considero que por las clases, los precios prodrían estar en ese margen y que por lo tanto, permitirían un análisis un poco más certero. 
Embarked: Por sen tan pocos los missing values, utilizaría el método de fill, ya que la separación de esos missing values en la columna es lo suficiente para que no sesge la data.

# 3.	Reporte de qué filas están completas

Passanger ID: columna completa con el ID del pasagero, son de tipo integer. 
Survived: columan con valores de 0 y 1, que determinan si el pasagero murio (0) o sobrevivio (1).
Pclass: columna que muestra en que clase viajaba el pasajero, en este caso cuenta de 1 hasta 3 clase. 
Name: los nombres de los pasajeros si está registrado por completo. 
Ticket: los tickes muestran el boleto que compro la persona, por lo que me intriga aquellos datos que cuenta con valores que parecen ser varios tickets. 
Cabin: la cabina en la que el pasajero estuvo o en la que fue asignado probablemente durante el viaje.

# 4.	Utilizar los siguientes métodos para cada columna que contiene missing values

1. Limpieza de los Missing Values

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('titanic_MD.csv')

Cambiar los vacios, los ? por NaN

In [3]:
 # Cambiar los ? por NaN
cols = []
val = []
for col in data.select_dtypes(include='object').columns:
    cols.append(col)
    val.append(data[col].str.contains(r'\b\0\b').sum())
pd.DataFrame({
    'cols':cols,
    'val':val
})

       cols  val
0      Name    0
1       Sex    0
2    Ticket    0
3     Cabin    0
4  Embarked    0

In [4]:
# cambia los ? y espacios vacios
data.replace(r'\?', np.nan, regex = True, inplace = True)

In [5]:
data.isna().sum()

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex            51
Age            25
SibSp           3
Parch          12
Ticket          0
Fare            8
Cabin           0
Embarked       12
dtype: int64

In [6]:
# Aproximar la edad para dejarlo en enteros
data['Age'] = round(data['Age'])

In [7]:
# tener todo en dos decimales
data['Fare'] = round(data['Fare'], 2)

In [8]:
# Ver el % de missing values en las columnas. 
pct = pd.DataFrame(data.isna().sum()/data.shape[0], columns = ['pct']).reset_index()
pct

          index       pct
0   PassengerId  0.000000
1      Survived  0.000000
2        Pclass  0.000000
3          Name  0.000000
4           Sex  0.278689
5           Age  0.136612
6         SibSp  0.016393
7         Parch  0.065574
8        Ticket  0.000000
9          Fare  0.043716
10        Cabin  0.000000
11     Embarked  0.065574

In [ ]:
# Sólo el sex y la age sobrepasan el 10%, pero considero que no es necesario eliminarlas.

# Imputaciones

In [9]:
from sklearn.impute import SimpleImputer

In [10]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_median = SimpleImputer(missing_values=np.nan, strategy='median')
imp_mode = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

Sex:

In [11]:
data_imputaciones = pd.DataFrame(imp_mode.fit_transform(data[['Sex']]), columns = ['Sex_mode'])

Age:

In [12]:
data_imputaciones['Age_mean'] = imp_mean.fit_transform(data[['Age']])
data_imputaciones['Age_mean'] = round(data_imputaciones['Age_mean'], 2)

In [13]:
data_imputaciones['Age_mode'] = imp_mode.fit_transform(data[['Age']])

In [14]:
data_imputaciones['Age_median'] = imp_median.fit_transform(data[['Age']])

SibSp

In [15]:
data_imputaciones['SibSp_mean'] = imp_mean.fit_transform(data[['SibSp']])
data_imputaciones['SibSp_mean'] = round(data_imputaciones['SibSp_mean'])

In [16]:
data_imputaciones['SibSp_mode'] = imp_mode.fit_transform(data[['SibSp']])
data_imputaciones['SibSp_mode'] = round(data_imputaciones['SibSp_mode'])

In [17]:
data_imputaciones['SibSp_median'] = imp_median.fit_transform(data[['SibSp']])
data_imputaciones['SibSp_median'] = round(data_imputaciones['SibSp_median'])

Parch

In [18]:
data_imputaciones['Parch_mean'] = imp_mean.fit_transform(data[['Parch']])
data_imputaciones['Parch_mean'] = round(data_imputaciones['Parch_mean'])

In [19]:
data_imputaciones['Parch_mode'] = imp_mode.fit_transform(data[['Parch']])
data_imputaciones['Parch_mode'] = round(data_imputaciones['Parch_mode'])

In [20]:
data_imputaciones['Parch_median'] = imp_median.fit_transform(data[['Parch']])
data_imputaciones['Parch_median'] = round(data_imputaciones['Parch_median'])

Fare

In [21]:
data_imputaciones['Fare_mean'] = imp_mean.fit_transform(data[['Fare']])
data_imputaciones['Fare_mean'] = round(data_imputaciones['Fare_mean'], 2)

In [22]:
data_imputaciones['Fare_mode'] = imp_mode.fit_transform(data[['Fare']])

In [23]:
data_imputaciones['Fare_median'] = imp_median.fit_transform(data[['Fare']])

Embarked

In [24]:
data_imputaciones['Embarked_mode'] = imp_mode.fit_transform(data[['Embarked']])

In [25]:
data_imputaciones

,Sex_mode,Age_mean,Age_mode,Age_median,SibSp_mean,SibSp_mode,SibSp_median,Parch_mean,Parch_mode,Parch_median,Fare_mean,Fare_mode,Fare_median,Embarked_mode
0,male,38.00,38.0,38.0,1.0,1.0,1.0,0.0,0.0,0.0,71.28,71.28,71.28,C
1,female,35.00,35.0,35.0,1.0,1.0,1.0,0.0,0.0,0.0,53.10,53.10,53.10,S
2,male,54.00,54.0,54.0,0.0,0.0,0.0,0.0,0.0,0.0,51.86,51.86,51.86,S
3,female,35.69,24.0,35.5,1.0,1.0,1.0,0.0,0.0,0.0,16.70,16.70,16.70,S
4,female,58.00,58.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0,26.55,26.55,26.55,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,female,47.00,47.0,47.0,1.0,1.0,1.0,1.0,1.0,1.0,78.96,26.55,56.93,S
179,male,35.69,24.0,35.5,0.0,0.0,0.0,0.0,0.0,0.0,5.00,5.00,5.00,S
180,female,56.00,56.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,83.16,83.16,83.16,S
181,male,19.00,19.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,30.00,30.00,30.00,S
182,male,35.69,24.0,35.5,0.0,0.0,0.0,0.0,0.0,0.0,30.00,30.00,30.00,C

# Regresion lineal

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
data_lm = data.dropna()
data_lm.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.10,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.86,E46,S
5,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0.0,0.0,248698,13.00,D56,S
9,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0.0,1.0,113509,61.98,B30,C
10,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1.0,0.0,36973,83.48,C83,S

In [28]:
def linear_regression(x,y): 
    lm = LinearRegression()
    lm.fit(x,y)
    y_hat = lm.predict(x)
    error = (1/2*np.mean(y_hat - y ) **2)
    
    #creación de un data frame
    df_dict = { 'PassengerId':data_lm.dropna().PassengerId, 'y_hat': y_hat }
    df = pd.DataFrame(df_dict)
    return(lm)

In [29]:
data_lm.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.10,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.86,E46,S
5,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0.0,0.0,248698,13.00,D56,S
9,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0.0,1.0,113509,61.98,B30,C
10,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1.0,0.0,36973,83.48,C83,S

Age

In [30]:
age_lm = linear_regression(data_lm.dropna().drop(['PassengerId','Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Age'], axis = 1), data_lm['Age'].dropna())

In [31]:
age_lm

LinearRegression()

In [32]:
data_lm['age_lm'] = age_lm.predict(data_lm.dropna().drop(['PassengerId','Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Age'], axis = 1))

/var/folders/nc/msnr18q57_bfryvsdz5vb_w00000gn/T/ipykernel_54623/3354121224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_lm['age_lm'] = age_lm.predict(data_lm.dropna().drop(['PassengerId','Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'Age'], axis = 1))

In [49]:
data_lm.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_lm
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.10,C123,S,38.944421
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.86,E46,S,45.389996
5,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0.0,0.0,248698,13.00,D56,S,29.646841
9,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0.0,1.0,113509,61.98,B30,C,38.782896
10,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1.0,0.0,36973,83.48,C83,S,48.795700

SibSp

In [59]:
SibSp_lm = linear_regression(data_lm.dropna().drop(['PassengerId','Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'age_lm', 'SibSp'], axis = 1), data_lm['SibSp'].dropna())

In [60]:
SibSp_lm

LinearRegression()

In [61]:
data_lm['SibSp_lm'] = SibSp_lm.predict(data_lm.dropna().drop(['PassengerId','Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'age_lm','SibSp'], axis = 1))

In [63]:
data_lm.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_lm,SibSp_lm
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.10,C123,S,38.944421,0.543552
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.86,E46,S,45.389996,0.339006
5,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0.0,0.0,248698,13.00,D56,S,29.646841,0.225671
9,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0.0,1.0,113509,61.98,B30,C,38.782896,0.485933
10,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1.0,0.0,36973,83.48,C83,S,48.795700,0.315236

Parch

In [55]:
Parch_lm = linear_regression(data_lm.dropna().drop(['PassengerId','Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'age_lm','SibSp_lm', 'Parch'], axis = 1), data_lm['Parch'].dropna())

In [56]:
Parch_lm

LinearRegression()

In [64]:
data_lm['Parch_lm'] = Parch_lm.predict(data_lm.dropna().drop(['PassengerId','Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'age_lm','SibSp_lm', 'Parch'], axis = 1))

In [65]:
data_lm.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_lm,SibSp_lm,Parch_lm
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.10,C123,S,38.944421,0.543552,0.311611
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.86,E46,S,45.389996,0.339006,0.168012
5,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0.0,0.0,248698,13.00,D56,S,29.646841,0.225671,0.298780
9,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0.0,1.0,113509,61.98,B30,C,38.782896,0.485933,0.061703
10,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1.0,0.0,36973,83.48,C83,S,48.795700,0.315236,0.561392

Fare

In [66]:
Fare_lm = linear_regression(data_lm.dropna().drop(['PassengerId','Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'age_lm','SibSp_lm', 'Parch_lm', 'Fare'], axis = 1), data_lm['Fare'].dropna())

In [67]:
Fare_lm

LinearRegression()

In [68]:
data_lm['Fare_lm'] = Fare_lm.predict(data_lm.dropna().drop(['PassengerId','Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'age_lm','SibSp_lm', 'Parch_lm', 'Fare'], axis = 1))

In [69]:
data_lm.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_lm,SibSp_lm,Parch_lm,Fare_lm
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.10,C123,S,38.944421,0.543552,0.311611,73.268074
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.86,E46,S,45.389996,0.339006,0.168012,46.757499
5,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0.0,0.0,248698,13.00,D56,S,29.646841,0.225671,0.298780,11.891565
9,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0.0,1.0,113509,61.98,B30,C,38.782896,0.485933,0.061703,81.799576
10,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1.0,0.0,36973,83.48,C83,S,48.795700,0.315236,0.561392,62.066123

In [83]:
data_imputaciones['age_lm'] = round(data_lm['age_lm'])

In [71]:
data_imputaciones['SibSp_lm'] = round(data_lm['SibSp_lm'])

In [72]:
data_imputaciones['Parch_lm'] = round(data_lm['Parch_lm'])

In [73]:
data_imputaciones['Fare_lm'] = round(data_lm['Fare_lm'], 2)

In [87]:
# Son aquellos que el modelo no predijo, ya que contaba con variables nan.
data_imputaciones.isna().sum()

Sex_mode          0
Age_mean          0
Age_mode          0
Age_median        0
SibSp_mean        0
SibSp_mode        0
SibSp_median      0
Parch_mean        0
Parch_mode        0
Parch_median      0
Fare_mean         0
Fare_mode         0
Fare_median       0
Embarked_mode     0
age_lm           83
SibSp_lm         83
Parch_lm         83
Fare_lm          83
dtype: int64

In [88]:
data_imputaciones

,Sex_mode,Age_mean,Age_mode,Age_median,SibSp_mean,SibSp_mode,SibSp_median,Parch_mean,Parch_mode,Parch_median,Fare_mean,Fare_mode,Fare_median,Embarked_mode,age_lm,SibSp_lm,Parch_lm,Fare_lm
0,male,38.00,38.0,38.0,1.0,1.0,1.0,0.0,0.0,0.0,71.28,71.28,71.28,C,NaN,NaN,NaN,NaN
1,female,35.00,35.0,35.0,1.0,1.0,1.0,0.0,0.0,0.0,53.10,53.10,53.10,S,39.0,1.0,0.0,73.27
2,male,54.00,54.0,54.0,0.0,0.0,0.0,0.0,0.0,0.0,51.86,51.86,51.86,S,45.0,0.0,0.0,46.76
3,female,35.69,24.0,35.5,1.0,1.0,1.0,0.0,0.0,0.0,16.70,16.70,16.70,S,NaN,NaN,NaN,NaN
4,female,58.00,58.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0,26.55,26.55,26.55,S,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,female,47.00,47.0,47.0,1.0,1.0,1.0,1.0,1.0,1.0,78.96,26.55,56.93,S,NaN,NaN,NaN,NaN
179,male,35.69,24.0,35.5,0.0,0.0,0.0,0.0,0.0,0.0,5.00,5.00,5.00,S,NaN,NaN,NaN,NaN
180,female,56.00,56.0,56.0,0.0,0.0,0.0,0.0,0.0,0.0,83.16,83.16,83.16,S,NaN,NaN,NaN,NaN
181,male,19.00,19.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,30.00,30.00,30.00,S,NaN,NaN,NaN,NaN
182,male,35.69,24.0,35.5,0.0,0.0,0.0,0.0,0.0,0.0,30.00,30.00,30.00,C,NaN,NaN,NaN,NaN

# Percentiles

In [76]:
data_pc = data.dropna()
data_pc

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.10,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.86,E46,S
5,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0.0,0.0,248698,13.00,D56,S
9,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0.0,1.0,113509,61.98,B30,C
10,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1.0,0.0,36973,83.48,C83,S
...,...,...,...,...,...,...,...,...,...,...,...,...
171,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1.0,1.0,12749,93.50,B69,S
172,824,1,3,"Moor, Mrs. (Beila)",female,27.0,0.0,1.0,392096,12.48,E121,S
173,836,1,1,"Compton, Miss. Sara Rebecca",female,39.0,1.0,1.0,PC 17756,83.16,E49,C
174,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0.0,1.0,PC 17592,39.40,D28,S
177,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0.0,0.0,PC 17590,50.50,A24,S

In [ ]:
pl = np.percentile(data[''].dropna(), 5)
pu = np.percentile(data[''].dropna(), 95)

In [ ]:
sns.scatterplot(x = data['userID'], y = df['weight'])
sns.lineplot(x = df['userID'], y = pl, color = 'orange')
sns.lineplot(x = df['userID'], y = pu, color = 'green')